bootloader --location=mbr
zerombr
clearpart --all --initlabel
text
firewall --disable
firstboot --disable
keyboard gb
{% for interface in ks_item.value.ifcfg_ifcfg %}
{% if ks_item.value.ifcfg_ifcfg[interface].get('ipaddr') %}
network --device {{ interface }} --bootproto static --ip {{ ks_item.value.ifcfg_ifcfg[interface]['ipaddr'] }} --netmask {{ ks_item.value.ifcfg_ifcfg[interface]['mask'] }} --nameserver {{ ks_item.value.ifcfg_ifcfg[interface]['dns1'] }} --noipv6 --gateway {{ ks_item.value.routes_default }} --hostname {{ ks_item.key }}
{% endif %}
{% endfor %}
lang en_GB
logging --level=info
url --url=http://mirror.mhd.uk.as44574.net/mirror.centos.org/7.7.1908/os/x86_64/
reboot
selinux --disabled
skipx
timezone Europe/London
install
part / --fstype="xfs" --grow --size=1
part swap --recommended
user --name=tom --groups=wheel --iscrypted --password=$6$gAm2GgBXX6gIVIjt$QLAaWIq2aXJPiQh2KzZ54K4G/xKgSTrPXWZJDQwXZR0nbquUBxW.UABp75kC0dD4ZmzjJm60/yX/ojs6rIWst1
%packages
@core
%end

%post
echo 'tom ALL=(ALL) NOPASSWD: ALL' >/etc/sudoers.d/tom

install -o tom -d -m 0700 ~tom/.ssh
echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC9FNpoDiJLd+if9noTjimmiCfTi0BUa3uQFnUOf5PVLx+gT0+61j7+EOvvqdVN8pUI/+eNMJPqDvrPsKqe63QJkDboltJaY9m39KAPAVw/L8myLDsxcXprmLOtK8MlHc1FvGwsUeiZAZaEdt/KfOd/zkU/qd5xpQVk9ERO/H+o3T5ReuEV63vlSnF8mXvh5gFzJVLiTgMgGhYizg24Z894nalGx+rvPz1XWVhEqlZsQsdyXQsnUdoboSyVw1tcN3y87Tws8k72ZRMd5Yc9zs+5XN3Yj4DOtJzac0wvcFAVIetHMz2BWUbT5Ei9BDAjGerI+nr47p5CDetyqy82Ctwz tom@Thomass-MacBook-Pro.local' >~tom/.ssh/authorized_keys
chown tom ~tom/.ssh/authorized_keys
chmod 0600 ~tom/.ssh/authorized_keys
%end
