#!/bin/bash


{% for vm_item in vm_items %}

/bin/virt-install \
  --name {{ vm_item }} \
  --ram 4096 \
  --disk size=10 \
  --quiet \
  --noautoconsole \
  --autostart \
  --virt-type kvm \
  --wait=-1 \
  --vcpus 1 \
  --os-type linux \
  --os-variant rhel7.7 \
  --network bridge=bridge0 \
  --graphics none \
  --initrd-inject /etc/kickstarts/{{ vm_item }}.cfg \
  --location 'http://mirror.mhd.uk.as44574.net/mirror.centos.org/7.7.1908/os/x86_64/' \
  --extra-args 'console=ttyS0,115200n8 ks=file:/{{ vm_item }}.cfg ksdevice=eth0 ip={{ hostvars[vm_item]['ifcfg_ifcfg']['eth0']['ipaddr'] }} nameserver={{ hostvars[vm_item]['ifcfg_ifcfg']['eth0']['dns1'] }} netmask={{ hostvars[vm_item]['ifcfg_ifcfg']['eth0']['mask'] }} gateway={{ hostvars[vm_item]['routes_default'] }}' &
{% endfor %}

wait
